/* .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
} */

/*
.navbar-brand {
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(226, 133, 11);
    color: whitesmoke;
}
*/
/* 
.active {
    color: whitesmoke;
} */

/* 
.navbar-nav-scroll {
    background-color: rgb(8, 141, 230);
} */

/*
.active {
    background-color: rgb(241, 139, 4);
    color: #eee;
}
*/